<html>
    <head>
        <title>
            PERSONAL WEB
        </title>
        <link rel="stylesheet" href="style.css">
        
    </head>
    <body>
        <header>
            <nav>
                <h1>SAGAR</h1>
                <ul id="nav">
                    <li><a class="homered" href="#">HOME</a></li>
                    <li><a class="homeblack" href="sagar.html">ABOUT ME</a></li>
                    <li><a class="homeblack" href="me.html">HOBBY</a></li>
                    <li><a class="homeblack" href="sagarku.html">CONTACT</a></li>
                    <li><a class="homeblack" href="sagarweb.html">DISINING</a></li>
                </ul>
            </nav>
        </header>
        <div class="divider"></div>
        <div class="fwimage1">
        <h4 class="homesub">HI! I am <span style="color: white;">SAGAR</span> and I like to be</h4>
        <h1 class="homedes">WEB DEVOLOPER &</h1>
        <H1 class="homepho">PROGRRAMER</H1><BR>
            <BUTTON class="buttonhome">CLICK HERE FOR KNOW ABOUT ME</BUTTON>

        
        </div>
        
    </body>
</html>